/* Global styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

.navbar {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.card {
    margin-bottom: 30px;
    border: none;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
}


.card img {
    height: auto;
    object-fit: cover;
}

.btn-primary {
    background-color: #ff6b6b;
    border-color: #ff6b6b;
}

.btn-primary:hover {
    background-color: #ff4757;
    border-color: #ff4757;
}

.movie-details {
    display: flex;
    flex-wrap: wrap;
}

.movie-details img {
    max-width: 50%;
    border-radius: 10px;
}

.movie-info {
    padding-left: 20px;
    max-width: 600px;
}

@media (max-width: 768px) {
    .movie-details {
        flex-direction: column;
    }

    .movie-info {
        padding-left: 0;
    }
}
